$button-height: 40px;
$button-margin: 20px;
$button-padding: 25px;

@mixin button() {
  height: $button-height;
  line-height: $button-height;
  padding: 0 $button-padding;
  border: none;
  display: inline-block;

  font-size: fontsize(200);
  border-radius: $default-border-radius;
  cursor: pointer;
  @include default-focus;

  outline: none;
  &:focus,
  &:hover {
    outline: none;
  }
}

.o-button__primary {
  @include button;

  color: white;
  background-color: palette(brand);

  &:hover {
    background-color: palette(brand, dark);
  }

  &[disabled] {
    color: palette(grey, 1);
    background-color: palette(grey, 2);
  }
}

.o-button__transparent {
  @include button;

  color: white;
  background-color: transparent;

  &:hover {
    background-color: palette(brand, dark);
  }

  &[disabled] {
    color: palette(grey, 1);
    background-color: palette(grey, 2);
  }
}

.o-button__secondary {
  @include button;

  color: palette(grey, 5);
  background-color: palette(grey, 1);
  border: 1px solid palette(grey, 2);

  &:hover {
    background-color: palette(grey, 2);
  }

  &[disabled] {
    color: white;
    background-color: palette(grey, 1);
  }
}

.o-button__tertiary {
  @include button;

  color: white;
  background-color: palette(blue);

  &:hover {
    background-color: palette(rbblue);
  }

  &[disabled] {
    color: white;
    background-color: palette(grey, 1);
  }
}

.o-button__blank {
  @include button;

  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    box-shadow: none;
    text-decoration: underline;
  }
}

.o-button__icon-toggle {
  @include button;

  color: palette(blue);
  border: 1px solid palette(blue);
  background-color: white;

  i {
    margin-right: spacing(small);
  }

  &.s-active {
    color: white;
    background-color: palette(blue);
  }
}
  .o-button__toggle_grey{
    color: palette(grey);
    border-color: palette(grey);
  }

.o-button__mobile-toggle {
  @include breakpoint(medmax) {
    border: none;
    width: 100%;
    text-align: center;
    color: palette(grey, 3);

    &:focus,
    &:hover {
      box-shadow: none;
    }

    &.s-active {
      color: palette(brand);
      background-color: white;
    }
  }
}


  .o-button__input-buddy{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }



  .o-button__narrow{
    padding-left: spacing(xx-small);
    padding-right: spacing(xx-small);
  }