.c-choice-group-view{
    @include breakpoint(medmax){
        margin-top: spacing(small);
    }
    
    border: 1px solid palette(grey,2);
    background-color: palette(grey,1);
    margin-bottom: spacing(medium);
}

    .c-choice-group--header{
        background-color: palette(grey,1);
        padding: spacing(medium);
    }

    .c-choice-group--body{
        padding: 0 spacing(x-small);

        @include breakpoint(medium){
            padding: 0 spacing(medium);
            background-color: white;
        }
    }