.o-input--select, [class^="o-input--select"]{
	@include textinput;
	padding-right: 40px;
	background-color:white;
	background-image: url("data:image/svg+xml;utf8,PHN2ZyBpZD0nTGF5ZXJfMScgZGF0YS1uYW1lPSdMYXllciAxJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiA5Jz48cGF0aCBkPSdNMTMsMTQuMDlsNS4yOS01LjNhMSwxLDAsMCwxLDEuNDIsMS40MmwtNyw3YTEsMSwwLDAsMS0xLjQyLDBsLTctN0ExLDEsMCwwLDEsNSw4LjVhMSwxLDAsMCwxLC43MS4yOUwxMSwxNC4wOUExLjE2LDEuMTYsMCwwLDAsMTMsMTQuMDlaJyBzdHlsZT0nZmlsbDogI0NDQ0NDQzsnIHRyYW5zZm9ybT0ndHJhbnNsYXRlKC00IC04LjUpJy8+PC9zdmc+");
	background-size: 20px 20px;
	background-position: right 10px center; 
	background-repeat: no-repeat;
	cursor: pointer;
	margin-bottom: 0;
	@include ellipsize;

	&:focus{
		outline: none;
	}

	&:hover{
		background-image: url("data:image/svg+xml;utf8,PHN2ZyBpZD0nTGF5ZXJfMScgZGF0YS1uYW1lPSdMYXllciAxJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiA5Jz48cGF0aCBkPSdNMTMsMTQuMDlsNS4yOS01LjNhMSwxLDAsMCwxLDEuNDIsMS40MmwtNyw3YTEsMSwwLDAsMS0xLjQyLDBsLTctN0ExLDEsMCwwLDEsNSw4LjVhMSwxLDAsMCwxLC43MS4yOUwxMSwxNC4wOUExLjE2LDEuMTYsMCwwLDAsMTMsMTQuMDlaJyBzdHlsZT0nZmlsbDogIzNGM0YzRjsnIHRyYW5zZm9ybT0ndHJhbnNsYXRlKC00IC04LjUpJy8+PC9zdmc+");
		//background-color: palette(grey,light); 
	}

	&:placeholder-shown ~ span{
		opacity: 0 !important;
	}

	&:focus ~ span, &:not(:placeholder-shown) ~ span{
		opacity: 1;
	}
}

    .o-input--select__inline{
        width: auto;
        display: inline-block;
	}
	
	.o-input--select__categories{
		max-width: 150px;
		border-color: palette(grey);
		background-color: palette(grey);
		color: white;
		font-weight: 700;
		background-image: url("data:image/svg+xml;utf8,PHN2ZyBpZD0nTGF5ZXJfMScgZGF0YS1uYW1lPSdMYXllciAxJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiA5Jz48cGF0aCBkPSdNMTMsMTQuMDlsNS4yOS01LjNhMSwxLDAsMCwxLDEuNDIsMS40MmwtNyw3YTEsMSwwLDAsMS0xLjQyLDBsLTctN0ExLDEsMCwwLDEsNSw4LjVhMSwxLDAsMCwxLC43MS4yOUwxMSwxNC4wOUExLjE2LDEuMTYsMCwwLDAsMTMsMTQuMDlaJyBzdHlsZT0nZmlsbDogd2hpdGU7JyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgtNCAtOC41KScvPjwvc3ZnPg==");

		&:hover{
			background-image: url("data:image/svg+xml;utf8,PHN2ZyBpZD0nTGF5ZXJfMScgZGF0YS1uYW1lPSdMYXllciAxJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiA5Jz48cGF0aCBkPSdNMTMsMTQuMDlsNS4yOS01LjNhMSwxLDAsMCwxLDEuNDIsMS40MmwtNyw3YTEsMSwwLDAsMS0xLjQyLDBsLTctN0ExLDEsMCwwLDEsNSw4LjVhMSwxLDAsMCwxLC43MS4yOUwxMSwxNC4wOUExLjE2LDEuMTYsMCwwLDAsMTMsMTQuMDlaJyBzdHlsZT0nZmlsbDogI0U4NzUxMTsnIHRyYW5zZm9ybT0ndHJhbnNsYXRlKC00IC04LjUpJy8+PC9zdmc+");
		}

		@include breakpoint(medmax){
			min-width: 100%;
			margin-bottom: spacing(small);
		}
	}