.o-input--select, [class^="o-input--select"]{
	@include textinput;
	padding-right: 40px;
	background-color:white;
	background-image: url("data:image/svg+xml;utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3Cpath d='M13%2C14.09l5.29-5.3a1%2C1%2C0%2C0%2C1%2C1.42%2C1.42l-7%2C7a1%2C1%2C0%2C0%2C1-1.42%2C0l-7-7A1%2C1%2C0%2C0%2C1%2C5%2C8.5a1%2C1%2C0%2C0%2C1%2C.71.29L11%2C14.09A1.16%2C1.16%2C0%2C0%2C0%2C13%2C14.09Z' fill='%23CCCCCC' transform='translate%28-4 -8.5%29'/%3E%3C/svg%3E");
	background-size: 20px 20px;
	background-position: right 10px center; 
	background-repeat: no-repeat;
	cursor: pointer;
	margin-bottom: 0; 
	@include ellipsize;

	&:focus{
		outline: none;
	}

	&:hover{
		background-image: url("data:image/svg+xml;utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3Cpath d='M13%2C14.09l5.29-5.3a1%2C1%2C0%2C0%2C1%2C1.42%2C1.42l-7%2C7a1%2C1%2C0%2C0%2C1-1.42%2C0l-7-7A1%2C1%2C0%2C0%2C1%2C5%2C8.5a1%2C1%2C0%2C0%2C1%2C.71.29L11%2C14.09A1.16%2C1.16%2C0%2C0%2C0%2C13%2C14.09Z' fill='%233F3F3F' transform='translate%28-4 -8.5%29'/%3E%3C/svg%3E");
		//background-color: palette(grey,light); 
	}

	&:placeholder-shown ~ span{
		opacity: 0 !important;
	}

	&:focus ~ span, &:not(:placeholder-shown) ~ span{
		opacity: 1;
	}
}

    .o-input--select__inline{
        width: auto;
        display: inline-block;
	}
	
	.o-input--select__categories{
		max-width: 150px;
		border-color: palette(grey);
		background-color: palette(grey);
		color: white;
		font-weight: 700;
		background-image: url("data:image/svg+xml;utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3Cpath d='M13%2C14.09l5.29-5.3a1%2C1%2C0%2C0%2C1%2C1.42%2C1.42l-7%2C7a1%2C1%2C0%2C0%2C1-1.42%2C0l-7-7A1%2C1%2C0%2C0%2C1%2C5%2C8.5a1%2C1%2C0%2C0%2C1%2C.71.29L11%2C14.09A1.16%2C1.16%2C0%2C0%2C0%2C13%2C14.09Z' fill='%23ffffff' transform='translate%28-4 -8.5%29'/%3E%3C/svg%3E");

		&:hover{
			background-image: url("data:image/svg+xml;utf8,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3Cpath d='M13%2C14.09l5.29-5.3a1%2C1%2C0%2C0%2C1%2C1.42%2C1.42l-7%2C7a1%2C1%2C0%2C0%2C1-1.42%2C0l-7-7A1%2C1%2C0%2C0%2C1%2C5%2C8.5a1%2C1%2C0%2C0%2C1%2C.71.29L11%2C14.09A1.16%2C1.16%2C0%2C0%2C0%2C13%2C14.09Z' fill='%23E87511' transform='translate%28-4 -8.5%29'/%3E%3C/svg%3E");
		}

		@include breakpoint(medmax){
			min-width: 100%;
			margin-bottom: spacing(small);
		}
	}