$checkmark-icon: url(data:image/svg+xml,%3Csvg%20width%3D%2226px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2026%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Event-List%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Event-List---Mailing-List%22%20transform%3D%22translate%28-380.000000%2C%20-534.000000%29%22%20fill%3D%22%230072C2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M404.739221%2C539.363675%20L393.732692%2C561.399771%20C393.167126%2C562.537052%20392.052926%2C563.297503%20390.789715%2C563.423113%20C390.671183%2C563.433298%20390.545878%2C563.443482%20390.427346%2C563.443482%20C389.296214%2C563.443482%20388.212494%2C562.913883%20387.508076%2C562.007453%20L380.772081%2C553.299613%20C379.52919%2C551.683655%20379.813666%2C549.354775%20381.432472%2C548.105463%20C383.041119%2C546.845967%20385.364343%2C547.144715%20386.610621%2C548.760673%20L389.753408%2C552.820937%20L398.135303%2C536.046887%20C399.036145%2C534.217053%20401.257771%2C533.473577%20403.086548%2C534.396981%20C404.915325%2C535.310201%20405.650223%2C537.53384%20404.739221%2C539.363675%22%20id%3D%22Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E);
$checkmark-icon_white: url(data:image/svg+xml,%3Csvg%20width%3D%2226px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2026%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Event-List%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Event-List---Mailing-List%22%20transform%3D%22translate%28-380.000000%2C%20-534.000000%29%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M404.739221%2C539.363675%20L393.732692%2C561.399771%20C393.167126%2C562.537052%20392.052926%2C563.297503%20390.789715%2C563.423113%20C390.671183%2C563.433298%20390.545878%2C563.443482%20390.427346%2C563.443482%20C389.296214%2C563.443482%20388.212494%2C562.913883%20387.508076%2C562.007453%20L380.772081%2C553.299613%20C379.52919%2C551.683655%20379.813666%2C549.354775%20381.432472%2C548.105463%20C383.041119%2C546.845967%20385.364343%2C547.144715%20386.610621%2C548.760673%20L389.753408%2C552.820937%20L398.135303%2C536.046887%20C399.036145%2C534.217053%20401.257771%2C533.473577%20403.086548%2C534.396981%20C404.915325%2C535.310201%20405.650223%2C537.53384%20404.739221%2C539.363675%22%20id%3D%22Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E);

.o-input--checkbox{
		outline: none;
		cursor: pointer;
		transition: $transition;
		vertical-align: middle;
		display: inline-block;

		span{
			vertical-align: middle;
		}

		.o-input--checksymbol{
			height: 26px;
			width: 26px;
	    	display: inline-block;
		    background-color: white;
		    border: 1px solid palette(grey,2);
		    color: transparent;
			text-align: center;
            margin-right: 6px;
            border-radius: $default-border-radius;
            @include default-focus;

			background: white $checkmark-icon_white center center no-repeat;
			background-size: 60%;

			transition: $transition;

			
		}

		input{
			display: none;

			&:checked{
				+ .o-input--checksymbol{
					background: palette(brand) $checkmark-icon_white center center no-repeat;
					background-size: 60%;
				}
		    }
		}
	}