$checkmark-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 26 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.5956929,5.46505488 L14.2081177,27.9176603 C13.6229718,29.0764374 12.4701982,29.8512618 11.1632548,29.979246 C11.0406192,29.9896235 10.9109761,30 10.7883406,30 C9.61804876,30 8.49681036,29.4603909 7.7680054,28.5368283 L0.798810165,19.6643993 C-0.487109738,18.0178977 -0.192785175,15.644999 1.48206391,14.3720735 C3.14640229,13.0887714 5.55005634,13.3931662 6.8394805,15.0396678 L10.0910708,19.1766758 L18.7631471,2.08557549 C19.6951763,0.221155364 21.993715,-0.536373252 23.8858043,0.404484225 C25.7778936,1.33496521 26.5382338,3.60063374 25.5956929,5.46505488' fill='%230072C2' fill-opacity='0.25'/%3E%3C/svg%3E");
$checkmark-icon_white: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 26 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.5956929,5.46505488 L14.2081177,27.9176603 C13.6229718,29.0764374 12.4701982,29.8512618 11.1632548,29.979246 C11.0406192,29.9896235 10.9109761,30 10.7883406,30 C9.61804876,30 8.49681036,29.4603909 7.7680054,28.5368283 L0.798810165,19.6643993 C-0.487109738,18.0178977 -0.192785175,15.644999 1.48206391,14.3720735 C3.14640229,13.0887714 5.55005634,13.3931662 6.8394805,15.0396678 L10.0910708,19.1766758 L18.7631471,2.08557549 C19.6951763,0.221155364 21.993715,-0.536373252 23.8858043,0.404484225 C25.7778936,1.33496521 26.5382338,3.60063374 25.5956929,5.46505488' fill='%23ffffff'/%3E%3C/svg%3E");
$plus-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 28 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8937548,15.7213434 C16.8937548,17.5148405 16.8937548,19.9119253 16.8937548,22.9125977 C16.8937548,27.4136062 11.0797617,27.2510086 11.0797617,22.9125977 C11.0797617,20.0203237 11.0797617,17.623239 11.0797617,15.7213434 C9.21512083,15.7213434 6.89426276,15.7213434 4.1171875,15.7213434 C-0.0484253847,15.7213434 -0.171960541,9.91405122 4.1171875,9.91405122 C6.97661953,9.91405122 9.2974776,9.91405122 11.0797617,9.91405122 C11.0797617,8.19479781 11.0797617,5.9413836 11.0797617,3.15380859 C11.0797617,-1.02755391 16.8937548,-1.16769063 16.8937548,3.15380859 C16.8937548,6.03480808 16.8937548,8.28822229 16.8937548,9.91405122 C18.8111968,9.91405122 21.1936171,9.91405122 24.0410156,9.91405122 C28.3121134,9.91405122 28.1841837,15.7213434 24.0410156,15.7213434 C21.2789036,15.7213434 18.8964833,15.7213434 16.8937548,15.7213434 Z' fill='%230072C2' fill-opacity='0.5'/%3E%3C/svg%3E");
$plus-icon_hover: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 28 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8937548,15.7213434 C16.8937548,17.5148405 16.8937548,19.9119253 16.8937548,22.9125977 C16.8937548,27.4136062 11.0797617,27.2510086 11.0797617,22.9125977 C11.0797617,20.0203237 11.0797617,17.623239 11.0797617,15.7213434 C9.21512083,15.7213434 6.89426276,15.7213434 4.1171875,15.7213434 C-0.0484253847,15.7213434 -0.171960541,9.91405122 4.1171875,9.91405122 C6.97661953,9.91405122 9.2974776,9.91405122 11.0797617,9.91405122 C11.0797617,8.19479781 11.0797617,5.9413836 11.0797617,3.15380859 C11.0797617,-1.02755391 16.8937548,-1.16769063 16.8937548,3.15380859 C16.8937548,6.03480808 16.8937548,8.28822229 16.8937548,9.91405122 C18.8111968,9.91405122 21.1936171,9.91405122 24.0410156,9.91405122 C28.3121134,9.91405122 28.1841837,15.7213434 24.0410156,15.7213434 C21.2789036,15.7213434 18.8964833,15.7213434 16.8937548,15.7213434 Z' fill='%230072C2' /%3E%3C/svg%3E");


.o-input--checkbox{
		outline: none;
		cursor: pointer;
		transition: $transition;
		vertical-align: middle;
		display: inline-block;

		&:hover{
			.o-input--checksymbol{
				background: white $checkmark-icon center center no-repeat;
				background-size: 60%;
			}

			.o-input--addsymbol{
				background: white $plus-icon_hover center center no-repeat;
				background-size: 80%;
			}
		} 

		span{
			vertical-align: middle;
		}

		.o-input--checksymbol, .o-input--addsymbol{
			height: 26px;
			width: 26px;
	    	display: inline-block;
		    background-color: white;
		    border: 1px solid palette(grey,2);
		    color: transparent;
			text-align: center;
            margin-right: 6px;
            border-radius: $default-border-radius;
            @include default-focus;

			background: white $checkmark-icon_white center center no-repeat;
			background-size: 60%;

			transition: $transition;
		}

		.o-input--addsymbol{
			background: white $plus-icon center center no-repeat;
			background-size: 80%;
		}

		input{
			display: none;

			&:checked{
				+ .o-input--checksymbol, + .o-input--addsymbol{
					background: palette(brand) $checkmark-icon_white center center no-repeat;
					background-size: 60%;
				}
		    }
		}
	}