$gutters: spacing(large);

.g-wrapper,
[class*="g-wrapper"] {
  display: flex;
  @include breakpoint(medmax) {
    flex-wrap: wrap;
  }
}
.g-wrapper__wrap {
  flex-wrap: wrap;
}

.g-mob-wrapper {
  @include breakpoint(medmax) {
    display: flex;
    flex-wrap: wrap;
  }
}

.g-desktop-wrapper {
  @include breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.g-column{
  flex-direction: column;
}

.g-align-self__center{
  align-self: center;
}

/* With gutters */
.g-wrapper__gutters {
  margin-left: -$gutters;
  display: flex;

  & > .g-cell,
  & > [class^="g-cell"] {
    padding-left: $gutters;
  }
}

.g-wrapper__centered-element {
  .g-cell {
    &:first-child {
      text-align: left;
    }

    &:nth-child(2) {
      flex: none;
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }

    @include breakpoint(medmax) {
      text-align: center !important;
    }
  }
}

.g-cell {
  flex: 1;
}

.g-desktop--full {
  @include breakpoint(medium) {
    width: 100%;
    min-width: 100%;
  }
}

.g-cell__no-stretch {
  flex: none;
}

/* Alignment per row */
.g--top {
  align-items: flex-start;
}
.g--bottom {
  align-items: flex-end;
}
.g--center {
  align-items: center;
}

/* Alignment per cell */
.g-cell--top {
  align-self: flex-start;
}
.g-cell--bottom {
  align-self: flex-end;
}
.g-cell--center {
  align-self: center;
}
 

$gridstops: 	
        "tenth" "10%",
        "quarter" "25%",
        "third" "33%",
        "half" "50%",
        "two-thirds" "66%",
        "three-quarters" "75%",
        "full" "100%";


@each $stop in $gridstops{
  .g-cell__#{nth($stop,1)}{
    @include breakpoint(medium){
      flex-basis: #{nth($stop,2)};

      _:-ms-fullscreen, :root .g-cell__#{nth($stop,1)} {
        flex-basis: #{nth($stop,2)};
      }
    }
  }
  .g-mob--#{nth($stop,1)}{
    @include breakpoint(medmax){
      flex-basis: #{nth($stop,2)};
      
      _:-ms-fullscreen, :root .g-mob--#{nth($stop,1)} {
        flex-basis: #{nth($stop,2)};
      }
    }
  }
}

.g-mob-order--first {
  @include breakpoint(medmax) {
    order: 1;
  }
}

.g-mob-order--last {
  @include breakpoint(medmax) {
    order: 2;
  }
}
