$icon-small: 8px;
$icon-medium: 16px;
$icon-ml: 20px;
$icon-large: 24px;
$icon-xlarge: 36px;
$icon-xxlarge: 48px;

[class*="icon-size"] {
  vertical-align: middle;
}

.icon-size--small {
  font-size: $icon-small;
}

.icon-size--medium {
  font-size: $icon-medium;
}

.icon-size--ml {
  font-size: $icon-ml;
}

.icon-size--large {
  font-size: $icon-large;
}

.icon-size--xlarge {
  font-size: $icon-xlarge;
}

.icon-size--xxlarge {
  font-size: $icon-xxlarge;
}

@font-face {
  font-family: "ritchie-icons";
  src: url("../fonts/ritchie-icons.eot?dgrlbt");
  src: url("../fonts/ritchie-icons.eot?dgrlbt#iefix")
      format("embedded-opentype"),
    url("../fonts/ritchie-icons.ttf?dgrlbt") format("truetype"),
    url("../fonts/ritchie-icons.woff?dgrlbt") format("woff"),
    url("../fonts/ritchie-icons.svg?dgrlbt#ritchie-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin icon-font { 
  font-family: "ritchie-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ritchie-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-size-med {
  font-size: 20px;
  vertical-align: middle;
}

.icon-settings:before {
  content: "\e901";
}
.icon-keyboard_arrow_up:before {
  content: "\e929"; 
}

.icon-more_horiz:before {
  content: "\e923";
}

.icon-watch:before{
  content: "\e902";
  font-size: 1.5rem;
  vertical-align: middle;
}
.icon-Back-Arrow:before {
  content: "\e92b";
}
.icon-group-add:before {
  content: "\e92a";
}
.icon-group:before{
  content: "\e91c";
}
.icon-warning:before{
  content: "\e91b";
}
.icon-correct:before{
  content: "\e908";
}
.icon-information:before{
  content: "\e910";
}
.icon-wrong:before{
  content: "\e92d";
}
.icon-TAL:before{
  content: "\e900";
}
.icon-globe:before {
  content: "\e91e"; 
}

.icon-cart:before {
  content: "\e904"; 
}

.icon-check:before {
  content: "\e905"; 
}

.icon-close:before {
  content: "\e907"; 
}

.icon-help:before {
  content: "\e90a"; 
}

.icon-plus:before {
  content: "\e90e"; 
}

.icon-search:before {
  content: "\e911"; 
}

.icon-user:before {
  content: "\e912"; 
}

.icon-trash:before {
  content: "\e91f"; 
}

.icon-sold:before {
  content: "\e921"; 
}

.icon-mail:before {
  content: "\e922"; 
}