[id^="o-mobile-collapse--toggle"], {
    appearance: none;
    display: none;

    & + label{
        display: block;
        text-align: center;
        margin: 0 spacing(medium) spacing(x-small);
    }

    &:checked + label div{
        background-color: palette(blue);
        color: white;
    }

    &:checked ~ [class^="o-mobile-collapse--container"]{
        display: block;
    }

    &:checked ~ [class^="o-settings-collapse--container"]{
        transform: translate3d(0,0,0);
    }
}

    #o-mobile-collapse--toggle__search+label{
        margin: 0;
    }

    #o-mobile-collapse--toggle__settings+label{
        @include breakpoint(medmax){
            position: absolute;
            top: 10px;
            right: 10px;
            margin: 0;
        }
    }

    .o-mobile-collapse--container, [class^="o-mobile-collapse--container"]{
        @include breakpoint(medmax){
            display: none;
        }
    }
    
    .o-mobile-collapse--container__wrapped{
        @include breakpoint(medmax){
            text-align: left;
            border: 1px solid palette(grey,2);
            padding: spacing(small);
        }
    }

    .o-settings-collapse--container{
        transform: translate3d(200%, 0, 0);
        transition: $transition;
        text-align: left;
        background-color: white;
        padding: 15px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        right: 20px;
        width: 400px;
        z-index: 800;
        position: fixed;
       
        @include breakpoint(medmax){
            right: 0;
            width: 100%;
            top: 60px; 
        }
    }